{
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "require": [
      "@babel/core"
    ],
    "sourceMap": false,
  "instrument": false,
  "extends": "@istanbuljs/nyc-config-babel",
  "exclude": [
    "server/app.js",
    "server/config/db.js",
    "server/model/index.js",
    "server/utils/joi.js",
    "server/helper/queries.js"
    ]
}
